general:
  data_autobalance: False
  print_dataset_features: True
  batch_size: 1
  extract_features: False
train:
  num_epochs : 3
  learning_rate : 0.0001
test:
  seed: 1800
  k_fold: 10
  test_number: 0
GNN_models:
  DGCNN:
    convolution_layers_size : 32-32-32-1
    sortpooling_k : 0.6
    n_hidden : 128 
    dropout : 0.5
    FP_len : 0
  GCN:
    convolution_layers_size : 128-256-512
    dropout: 0.5
  DiffPool:
    convolution_layers_size : 32-32-32
    assign_ratio: 0.25
    assign_pred_hidden_dim: 50
interpretability_methods:
  DeepLIFT:
    compare_with_zero_tensor: True
    compare_with_isomorphic_samples: True
    number_of_zero_tensor_samples: 3
    number_of_isomorphic_sample_pairs: 5
metrics:
  fidelity: True
  contrastivity: False
  sparsity: False